/* ---Mobile Styles--- */
/* Custom Styles*/
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

.wrapper{
    width: 85%;
    margin: auto;
}

:root{
    --black: #212529;
    --white: #F7F7F7;
    --grey: #9B9D9E;
    --border-radius: 10px;
}

*{
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5{
    color: var(--black);
}

/* h1{
    font-size: 40px;
} */

p{
    line-height: 2;
}

.logo-img{
    max-width: 75%;
    padding-left: 1em;
}

nav{
    margin-bottom: 3em;
}

li{
    padding-left: 1em;
}

.dropdown-item:active{
    background-color: var(--black);
}

img{
    max-width: 100%;
    height: auto;
}

li{
    font-size: 18px;
}



/* footer{
    text-align: center;
    margin-top: 5em;
} */

.footer-icons .icon{
    border-radius: var(--border-radius);
    box-sizing: border-box;
    background-color: var(--grey);
    padding: .8em;
    margin: .1em
}

.footer-icons .icon:hover{
   background-color: var(--black);
   transition: 0.3s;
}

/* ---Home Page---- */
.home-sect{
    text-align: center;
    margin-bottom: 5em;
}

.home-sect p{
    margin-bottom: 1em;
    font-size: 18px;
}

.home-sect img{
    max-width: 75%;
    margin-bottom: 1em;
}

/* .btn-div{
    margin-top: 4em;
    margin-bottom: 5em;
} */

.row{
    margin-bottom: 1em;
}

/* Image container */
.img-container {
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
    background-color: var(--black);
  }
  
  .img-container:hover .overlay {
    opacity: 0.8;
  }
  
  .view {
    color: var(--white);
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    text-transform: uppercase;
  }

/* ---Portfolio Section */


.portfolio-sect h4{
    margin-top: .5em;
}

.portfolio{
    padding-top: 3em;
}

/* Photography Page */

.img{
    margin-bottom: 2.5em;
}

/* ---About Me Page --- */

.about-me{
    text-align: center;
}

.about-img{
    padding: 1em;
    max-width: 85%;
}

.mission{
    background-color: white;
    padding: 2em;
}

/* Skills Section */
.bar{
    margin-bottom: .7em;
}
.bar p{
    margin: 0;
}

.skills h2{
    margin-top: .5em;
}

/* Work Experience Section */

.work{
    margin-top: 1em;
}

/* ---Contact Page--- */

.form{
	background-color: white;
	border: solid 0.25px white;
	border-radius: 20px;
	padding: 20px 55px 20px 20px;
	margin: 1em .5em 1em .5em;
	box-shadow: 0px 4px 8px 0.5px rgba(0, 0, 0, 0.664);
}	

.contact-head{
    text-align: center;
}
.form h2{
	font-size: 2.5rem;
	padding-left: .4em;
}	

/* Adjusting size for inputs for better legibility */
.form input{
	padding: .7em;
	margin: .5em;
	background-color: var(--white);
	border: solid 0.25px var(--black);
	font-family:'Open Sans', sans-serif;
	border-radius: var(--border-radius);
	font-size: 1em;
}	

/* Styling label and input texts to be readable in form */
.form label{
	padding-left: 1em;
}	

.form input[type=text]{
	width: 100%;
	font-size: .8em;
	margin-left: 1em;
}	

/* Adding styles for message box for better alignment */
textarea{
	padding: .5em;
	margin: 1em;
	border-radius: var(--border-radius);
	font-family: 'Open Sans', sans-serif;
	background-color: var(--white);
	width: 100%;
	height: 140px;
	resize: none;
}

.submit-div{
    text-align: right;
}
.submit{
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    padding: .6em 2em .6em 2em;
    margin-right: -15px;
    border-radius: var(--border-radius);
}

.submit:hover{
    color: var(--white);
    background-color: var(--grey);
    transition: 0.4s;
}

@media screen and (min-width: 680px) and (max-width: 992px){

    .wrapper{
        width: 90%;
    }

    .home img{
        max-width: 50%;
    }

    .portfolio-sect{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .portfolio-sect img{
        max-width: 100%;
    }

    .about-img{
        max-width: 40%;
    }

    .skill-work{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }


    .bar{
        margin-bottom: .5em;
    }

    .work-1{
        margin-top: 2em;
    }
    .work-2{
        margin-top: 5em;
    }

    hr{
        display: none;
    }

    .gd-work{
        max-width: 90%;
        margin: auto;

    }

    .circle-img{
        max-width: 70%;  
      }
}


@media screen and (min-width: 992px){


    .logo-img{
        padding-left: 5.5em;
        max-width: 85%;
    }
    li{
        padding-right: 4rem;
    }

    .dropdown-item{
        padding-right: 0;
    }

    .home{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .home .home-img{
        order: 1;
    }

    .home h1{
        font-size: 68px;
    }

    .home p{
        font-size: 24px;
    }

    .home img{
        max-width: 600px;
    }

    .portfolio-sect{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        max-width: 85%;
        margin: auto;
    }

    .about-img{
        max-width: 40%;
    }

    .mission{
        padding: 5em;
    }
    .mission p{
        padding-left: 11em;
        padding-right: 11em;
        line-height: 2.3;
        font-size: 18px;
    }

    .skill-work{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }


    .bar{
        margin-bottom: .5em;
    }

    .work-1{
        margin-top: 2em;
    }
    .work-2{
        margin-top: 5em;
    }

    hr{
        display: none;
    }

    .ux-work{
        max-width: 80%;
        margin: auto;
    }

    .gd-work{
        max-width: 80%;
        margin: auto;

    }

    .circle-img{
        max-width: 70%;  
      }
    
}

/* Adding a breakpoint of min-width of 1200px for elements that don't work at 992px  */

@media screen and (min-width: 1200px){

    /* About Me Page */

    .about-me{
        display: flex;
       justify-content: space-evenly;
       padding: 3em 0;
       align-items: center;
       margin-bottom: 4em;
    }

    .about-me{
        text-align: left;
    }

    .about-me p{
        width: 690px;
        line-height: 2.5;
        padding-left: .5rem;
        font-size: 18px;
    }
    .about-img{
        max-width: 70%;
    }

    /* Contact Page */

    .contact-head{
        text-align: left;
    }
    
    .contact{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
    
    .form{
     margin: 1em 1em 1em 10em;
    }

    .contact-head p{
        padding-right: 12em;
    }

      .contact img{
          padding-top: 2.5em;
      }

}