@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
}

:root{
    --white: #f9f9f9;
    --blue: #32c6d6;
    --black: #171515;
}

nav ul{
    text-align: center;
    
}

nav ul li{
    list-style: none;
    padding: 0.5em;
    font-weight: 500;
}

.nav-list a{
    text-decoration: none;
    color: var(--black);
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
    color: var(--blue);  
    transition: 0.3s;
}



@media screen and (min-width: 650px) {

    nav ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li{
        padding: 2em;
        font-size: 18px;
    }
    
}
