/* 

        CSS RESET CODE

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------
    These are the mobile styles
--------------------------------- */

/* ---Custom Styles--- */

/* Adding scroll-behavior: smooth to smooth the back to top and scroll down buttons */
html{
	scroll-behavior: smooth;
}

/* Adding line-height: 1.5 to match with mockup */
body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}

/* Adding line-height: 2.5 to body texts to make texts more readable  */
body p{
	line-height: 2.5;
}

/* Adding padding for better alignment */
.container{
	padding: 2em;
}

/* Adding box-sizing: border-box; to adjusts widths o borders   */
*{
	box-sizing: border-box;
}

/* Adding max-width: 100%; and height: auto; to fit images on screen */
img{
	max-width: 100%;
	height: auto;
}	

/* Adjusting max-width for ARC logo for better spacing */
.img-logo{
	max-width: 20%;
}	

/* Adding styles to navigation to match with mobile mockup  */
.nav-list{
    text-align: center;
    background-color: #3C3B3A;
    padding: 1em;
}

/* Adding padding to Nav to give more spacing */
.nav-list ul li{
	padding: .3em;
}

/* add nav styles to make it more readable */
.nav-list a,
.nav-list a:link,
.nav-list a:visited{
	display: block;
	text-decoration: none;
	color: #F2F2F2;
	font-size: 18px;    
}

.nav-list ul{
	text-decoration: none;
}

/* Adding hover and skew animation to navigation for better user interaction */
.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
	font-weight: bold;
}

/* Adding styles to all green buttons to match with mockup */
.btn{
	background-color: #26A682;
	text-decoration: none;
	color: #F2F2F2;
	text-align: center;
	margin-bottom: 1em;
	border-radius: 50px;
	box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.356);
}	

/* Adding translate transition on hover buttons and logos to make it interactive */
.subscribe-btn:hover,
.about-logo:hover{
	transform: translate(0, -7px);
	transition: 0.5s;
}

/* Adding background-color hover transition to enhance user experience */
.started:hover,
.learn:hover{
	background-color: #3C3B3A;
	transition: 0.7s;
}

/* ---Footer--- */

/* Adding footer styles to match with mockup */
footer{
	background-color: #3C3B3A;
	text-align: center;
	padding: 1em;	
}

/* Adding margin: 0 auto; to center social media icons */
.footer-icons{
	margin: 0 auto;
}

/* Adding flexbox to social media icons and back to top button to button on same line  */
.icon-div{
	display: flex;
	position: relative;
}

/* Adding align-self: flex-end to back to top button to push to the right side  */
footer .social-media .top-button{
	align-self: flex-end;
}

/* Adding padding to give more spacing between social media icons */
footer .footer-icons .icon{
	padding: .5em;
}

/* Fixing alignment for back to top button to match with mockup */
.top-button{
	text-align: right;
	color: #F2F2F2;
	margin-left: auto;
	position: absolute;
	right: 10px;
	top: 10px;
}

/* Adjusting max-width and margin of back to top icon to match with mockup */
.top-img{
	max-width: 30%;
	margin-right: 15px;	
}

/* Adding in styles for h3 and h4 footer to match with mockup */
footer h3{
	color: #F2F2F2;
	font-size: 24px;
	text-align: center;
}

.bottom-button h4{
	text-decoration: none;
	color: #3C3B3A;
}

footer h4{
	text-decoration: none;
	color: #F2F2F2;
}

footer a{
	text-decoration: none;
	font-size: 11px;
}

/* ----Home Page---- */


/* Adding styles to all h1 to match with mockup */

h1{
	font-size: 40px;
	font-weight: bold;
}

/* Adding animation to get started button to make it more interactive */
.started-div{
	text-align: center;
	animation-name: get-started;
	animation-duration: 1s;
	animation-delay: 0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes get-started{
	50% { 
		transform: translate(0, -8px);
	}  
}

/* Adding Styles to get started and learn more buttons to match with mobile mockup  */
.started{
	/* Adjusting paddings to for better legibility */
	padding: .2em 2.5em .2em 2.5em;
	margin-top: 1em;
	font-size: 32px;
	font-weight: bold;	
}

.learn{
	padding: .5em;
	font-size: 20px;
	font-weight: bold;
}

/* Adding alignments for learn more buttons to make it more readable */
.discover-head div{
	text-align: right;
	margin-top: 20px;
}

/* Adjusting max-width and margin-top on discover image for better legibility */
.discover-img{
	max-width: 80%;
	margin-top: 2em;	 
}	

/* Adding alignment for scroll bottom button for legibility */
.bottom-img{
	transform: rotate(180deg);
}	

.bottom-button{
	display: none;
	text-align: center;
	text-decoration: none;
}	

.bottom-button a{
	text-decoration: none;
}

/* Creating a 2 column grid for icons to match with mobile mockup */
.discover-icons{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	text-align: center;
}	

/* increasing font-size and changing colour for icon headings to make it more readable */
.discover-icons h3{
	font-size: 17px;
	color: #26A682;
}	

.discover-img{
	display: block;
 	margin-left: auto;  
 	margin-right: auto;
}  

/* styling headers and paragraphs for discover sections to match with mockup */
.discover-sect2 h2,
.discover-sect3 h2{
	font-size: 32px;
	font-weight: 500;
	font-style: italic;
}

.discover-sect2 h3,
.discover-sect3 h3{
	font-size: 24px;
	color: #26A682;
}

.discover-sect2 p,
.discover-sect3 p{
	font-weight: 300;
}

/* Removing desktop and tablet version of discover images so it's not visible  */
.school-div,
.entertainment-div{
	display: none;
}

/* Adding background colour to quote section to make elements easy to read  */
.quote-sect{
	background-color: #3C3B3A;
}	

.quote-sect h4{
	font-size: 24px;
	text-align: center;
	color: #F2F2F2;
	font-weight: bold;
}	

.quote-sect p{
	color: #F2F2F2;
}	

.simon-img{
	border: solid 5px #F2F2F2;
	border-radius: 100%;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}	

/* ---About Page--- */

/* Adding background colour to quote section to make elements easy to read */
.about-sect{
	background-color: #F2F2F2;
}

/* Adding a margin-top to about elements to give more spacing for mobile version  */
.about-w{
	margin-top: 1em;
}

.about-sect h3{
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
}
.subscribe-div{
	background-color: #3C3B3A;
	text-align: center;
}

/* Chose background-image to Services and About headings because is it is more semantic and to help the blending-mode work */
.about-banner{
	background-image: url("../images/about.jpg");
	background-size: cover;
	height: 250px;
	background-color: #26A682;
  	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
}

.service-banner{
	background-image: url("../images/services.jpg");
	background-size: cover;
	height: 250px;
	background-color: #26A682;
  	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
}

/* Adjusting styles Services and About for headers to make it more readable with the background-image*/
.about-banner h2,
.service-banner h2{
	text-align: center;
	color: #F2F2F2;
	padding-top: 95px;
	font-size: 50px;
	font-weight: bold;
}

/* Using display: none to hide all images in service section for mobile version */
.service-sects img{
	display: none;
}	

/* Adjusting styles for service headers to match with mockups */
.service-sects h2{
	font-size: 32px;
	font-weight: bold;
}	

.service-sects h3{
	font-size: 24px;
	color: #26A682;
}	

/* Adding background-color of #F2F2F2 to service sections 2 and 4 to match with mockup  */
.service-sect2,
.service-sect4{
	background-color: #F2F2F2;
}	

.subscribe-div h2{
	color: #F2F2F2;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 1em;
}

/* Adding styles for Subscribe button section to be readable and match up with mockup */
.subscribe-div a{
	font-size: 20px;
	font-weight: bold;
	padding: .2em;
	padding-left: 1em;
	padding-right: 1em;
	box-shadow: none;	
}

/* Chose text-align to center logos because it was easy to use */
.thanks-logos{
	text-align: center;
}

.thanks-logos h2{
	font-size: 56px;
	font-weight: bold;
	margin-bottom: 1em;
}

/* Adding margin to give image logos spacing for mobile version */
.thanks-img{
	margin: 1em;
}

/* Adjusting size of logos for better legibility */
.cibc,
.pcl,
.ac{
	width: 50%;
}

.sa{
	max-width: 85%;
}

/* ---Contact Page--- */

/* Adjusting font-size for contact h1 to make it more readable for mobile */
.contact-h1{
	font-size: 50px;
}	

/* ----Form Section---- */

/* Using paddings and margins to adjust space and alignment of form */
.form{
	background-color: #26A682;
	border: solid 0.25px #26A682;
	border-radius: 20px;
	padding: 20px 55px 20px 20px;
	margin: 1em .5em 1em .5em;
	box-shadow: 0px 4px 8px 0.5px rgba(0, 0, 0, 0.507);
}	

.form h2{
	color: #F2F2F2;
	font-weight: bold;
	font-size: 2.5rem;
	padding-left: .4em;
}	

/* Adjusting size for inputs for better legibility */
.form input{
	padding: 1em;
	margin: .5em;
	background-color: #F2F2F2;
	border: solid 0.5px #26A682;
	font-family:'Raleway', sans-serif;
	border-radius: 50px;
	font-size: 1em;
}	

/* Styling label and input texts to be readable in form */
.form label{
	color: #F2F2F2;
	padding-left: 1em;
}	

.form input[type=text]{
	width: 100%;
	font-size: .8em;
	margin-left: 1em;
}	

/* Adding styles for message box for better alignment */
textarea{
	padding: 1em;
	margin: 1em;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	background-color: #f2f2f2;
	width: 100%;
	height: 90px;
	resize: none;
}	

.form input[type=submit]{
	font-weight: bold;
	padding: .2em;
	color: #f2f2f2;
	font-size: 32px;
	background-color: #3c3b3a;
	font-stretch: expanded;
	/* Increasing Submit button width to match with text forms  */
	width: 100%;
	border: solid 0.5px #3C3B3A;
	box-shadow: 0px 4px 8px 0.5px rgba(0, 0, 0, 0.507);
	box-sizing: border-box;
}

/* Adjusting map size to fit on mobile */
iframe{
	width: 100%;
	height: 500px;
	vertical-align: bottom;
	
}	

/* Hiding desktop version of map to help with alignments */
.map-div{
	display: none;
}


/* Adjusting location headers for better legibility */
.location-text h2{
	font-size: 40px;
	font-weight: bold;
}

.location-text h3{
	font-size: 24px;
}

/* -----------------------------------------------
			These are the Tablet Styles 
----------------------------------------------------*/

@media screen and (min-width: 680px) and (max-width: 1080px){

	/* ---Custom Styles--- */

	/* Using flexbox to push nav texts to right and logo to the left */
	.nav-list{
		display: flex;
  		justify-content: space-between;
  		align-items: center;
		padding: .1em;
	}

	/* Adjusting max-width and padding-left on logo for better spacing */
	.img-logo{
		max-width: 10%;
		padding-left: 2em;
	}

	/* Adding flexbox to nav texts to put on same line */
	.nav-list ul{
		display: flex;
		justify-content: space-around;
		padding-right: 2em;
	}

	/* Increasing padding for better spacing */
	.nav-list ul li{
		padding: 1em;
	}

	/* ---Home Page--- */

	/* Adding Flexbox to home icons to put on same line */

	.discover-icons{
		display: flex;
		justify-content: space-between;
	}

	/* Adding padding-top to icons for better alignment on tablet */
	.fas{
		padding-top: 1em;
	}

	/* Adding a background-color of #F2F2F2 to make elements more readable on tablet */
	.discover-sect2{
		background-color: #F2F2F2;
	}

	/* Adding max-height and object-fit to crop and not stretch discover images */
	.discover-mobile .school-img,	
	.discover-mobile .entertainment-img{
	position: relative;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
	}

	/* Adjusting padding of get started button to match with tablet mockup */
	.started{
		padding: .2em 1em .2em 1em;
	}

	/* Using a 2 column grid and grid-area for quote section on tablet to match with tablet mockup */
	.quote-sect{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "img p"		
							"h4 p";
	}

	.quote-sect img{
		grid-area: img;
	}

	.quote-sect div{
		grid-area: h4;
	}

	.quote-sect p{
		grid-area: p;
	}

	/* Making scroll button visible for tablet and giving margin for better alignment */
	.bottom-button{
		display: block;
		margin-bottom: 1em;
	}	

	/* ---About Page--- */

	/* Making images in service section visible on tablet version to match with mockup */
	.service-sects img{
		display: block;
	}	

	/* Adding a 2 column grid to put images and texts beside each other */
	.service-sect1,
	.service-sect2,
	.service-sect3,
	.service-sect4{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	/* Using flexbox to put elements beside each other for tablet */
	.subscribe-div{
		display: flex;
		justify-content: space-evenly;
	}

	/* Removing margin from the h2 subscribe section for better legibility  */
	.subscribe-div h2{
		margin: 0;
	}

	.thanks-logos h2{
		font-size: 56px;
	}

	/* Adjusting width for thanks logos for better spacing */
	.cibc,
	.pcl,
	.ac{
		width: 35%;
	}
	.sa{
		max-width: 60%;
	}

	/* ---Contact Page--- */

	/* Increasing height for message box for a better balance */
	textarea{
		height: 155px;
	}

	/* Adding a margin-right and text-align to align submit button to right */
	.form input[type=submit]{
		width: 30%;
		margin-right: -15px;
	}

	.submit-div{
		text-align: right;
	}
}

/*-------------------------------------
 		These are the desktop styles 
 ---------------------------------------*/

 @media screen and (min-width: 1080px){

	/* --- Custom Styles---- */

	.container{
		padding: 4em;
	}

	/* Adding flexbox to put logo on same line  */
	.nav-list{
		display: flex;
  		justify-content: space-between;
  		align-items: center;
		padding: .2em;
	}

	/* Adjusting max-width and padding-left for better spacing for logo */
	.img-logo{
		max-width: 10%;
		padding-left: 4em;
	}

	/* Adding flexbox to put nav texts on same line with logo */
	.nav-list ul{
		display: flex;
		justify-content: space-around;
		padding-right: 4em;
	}

	/* Increasing padding for more spacing and better legibility */
	.nav-list ul li{
		padding: 1.5em;
	}

	h1{
		font-size: 60px;
	}

	.top-img{
		max-width: 50%;
		margin-right: 15px;	
		}

	/* ---Home Page ---*/

	/* Using display none to hide images from mobile */
	.discover-mobile{
		display: none;
	}

	/* Increasing image to 100% to match with desktop mockup */
	.discover-img{
		max-width: 100%;
	}	

	.discover-icons{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2em 0;
		width: 90%;
	}

	.started-div{
		margin-top: 4em;
	}

	.bottom-button{
		display: block;
		margin-bottom: 1.5em;
	}	

	/* Using padding-top to push icons down on desktop */
	.fas{
		padding-top: 1em;
	}	

	/* Using text-align to push get started button to left */
	.started-div{
		text-align: left;
	}

	/* Adjusting padding for get started and learn more buttons to match with mockup  */

	.started{
		padding: .2em 1em .2em 1em;
	}

	.learn{
		padding: .3em 1em .3em 1em;
	}

	/* Using a 2 column grid to put image and texts/icons beside each other */
	.discover-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;
	}

	/* Adjusting font-size, margin-top and padding-right on paragraph for better legibility */
	.discover-grid p{
		font-size: 18px;
		margin-top: 2em;
		padding-right: 2em;
	}

	.discover-sect2{
		background-color: #F2F2F2;
	}

	/* Using display block to make desktop images visible */
	.school-div,
	.entertainment-div{
		display: block;
	}

	/* Using a 2 column grid to put images and text beside each other */
	.discover-sect2,
	.discover-sect3{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;
	}

	/* Using flexbox in quote section to put elements beside each other */
	.quote-sect{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	/* Decreasing max-width of image for better legibility on desktop */
	.quote-sect img{
		max-width: 15%;
		margin: 0;
	}

	/* Adjusting font-size and padding-left for better spacing */
	.quote-sect div{
		font-size: 24px;
		padding-left: 3em;
	}

	/* Adjusting padding-left and width of paragraph to match with mockup */
	.quote-sect p{
		padding-left: 5em;
		width: 60%;
	}

	/* ---About Page--- */

	/* Adding a 2 column grid to Construction section for better legibility on desktop */
	.construction-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	/* Adding a 3 column grid to About section for better legibility on desktop */
	.about-grid{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5em;
		margin-top: 5em;
		margin-bottom: 5em;
	}

	/* Using display block to make images in service sections visible */
	.service-sects img{
		display: block;
	}	

	/* Adding a 2 column grid to put images and texts beside each other */
	.service-sect1,
	.service-sect2,
	.service-sect3,
	.service-sect4{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;	
	}

	/* Using flexbox to put elements beside each other for desktop */
	.subscribe-div{
		display: flex;
		justify-content: center;
		align-items: center;	
	}

	.subscribe-div h2{
		font-size: 36px;
		padding-right: 1em;
		margin: 0;
	}
	.subscribe-div a{
		font-size: 27px;
		padding: .2em 1.5em .2em 1.5em;	
	}

	/* Using a 4 column grid to put logos in on same line for better legibility */
	.logo-grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
		gap: 1em;
	}

	/* Adding padding left and right to push part of thanks heading on another and for better legibility */
	.thanks-logos h2{
		font-size: 65px;
		padding-left: 3.5em;
		padding-right: 3.5em;
	}

	/* Adjusting width for logo images for better legibility */
	.cibc,
	.pcl,
	.ac{
		width: 60%;
	}

	.sa{
		max-width: 100%;
	}

	/* ---Contact Page--- */

	.contact-h1{
		font-size: 60px;
	}

	/* Adjusting margin on form section to for better spacing for desktop */
	.form{
		margin: 1em 1em 1em 10em;
	}

	/* Using grid to put form and text section in a 2 column */
	.contact-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	.contact-grid p{
		font-size: 18px;
	}

	.contact-grid img{
		max-width: 80%;
	}
	/* Increasing Message box for better legibility for desktop */
	textarea{
		height: 125px;
	}

	/* Adding a margin-right and text-align to align submit button to right */
	.form input[type=submit]{
		width: 40%;
		margin-right: -15px;
	}

	.submit-div{
		text-align: right;
	}
	
	.location-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	/* Adding margin-bottom to push footer down on desktop */
	iframe{
		margin-bottom: 2em;
	}

	/* Using display none to hide mobile and tablet version of map */
	.location-map{
		display: none;
	}

	.location-text h2{
		font-size: 60px;
	}

	.location-text h3{
		font-size: 30px;
	}

	.location-text p{
		font-size: 18px;
	}

	/* Adjusting width of map for better legibility on desktop */
	.map-div{
		display: block;
		width: 730px;
	}
 }