/* 

        CSS RESET CODE

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------
    These are the mobile styles
--------------------------------- */

html{
	scroll-behavior: smooth;
}

body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}
.container{
	/* max-width: 400px; */
	margin: 0 auto;
}

.nav-list ul{
    text-align: center;
    background-color: #3C3B3A;
    padding: 1em;
    /* padding-bottom: 20px; */
}

.nav-list ul li{
	padding: .3em;
}

img{
	max-width: 100%;
	height: auto;
}
.nav-list a,
.nav-list a:link,
.nav-list a:visited{
	display: block;
	text-decoration: none;
	color: #F2F2F2;
	font-size: 18px;    
	/* padding-top: 1em; */
}

.nav-list ul{
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
 font-weight: bold;
}


.img-logo{
    max-width: 20%;
}

h1{
	font-size: 40px;
	font-weight: bold;
}
.discover-img{
	max-width: 50%;
}

.bottom-img{
	transform: rotate(180deg);
	
}

.bottom-button{
	display: none;
}


.discover-icons{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	text-align: center;
	grid-template-areas: "" ;
}

/* Adding styles for icon headings */

.discover-icons h3{
	font-size: 17px;
	color: #26A682;
}

.fas{
	padding: 1em;
	/* margin: 0 auto; */
	max-width: 100%;
}
footer{
	background-color: #3C3B3A;
	text-align: center;
	padding: 1em;
	
}


.footer-icons{
	margin: 0 auto;
}

footer .social-media .top-button{
	align-self: flex-end;
}
.icon-div{
	display: flex;
	position: relative;
}
footer h3{
	color: #F2F2F2;
	font-size: 24px;
	text-align: center;
}

.top-img{
	max-width: 30%;
	margin-right: 15px;
	
}

button{
	background-color: #26A682;
	color: #F2F2F2;
}

footer .footer-icons .icon{
	padding: .5em;
}

.top-button{
	text-align: right;
	color: #F2F2F2;
	margin-left: auto;
	position: absolute;
	right: 10px;
	top: 10px;
}

h4{
	text-decoration: none;
	color: #F2F2F2;
}

footer a{
	text-decoration: none;
	font-size: 11px;
}

