/* 

        CSS RESET CODE

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------
    These are the mobile styles
--------------------------------- */

/* These are the custom styles for all pages */
html{
	scroll-behavior: smooth;
}

body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}

body p{
	line-height: 2.5;
}
.container{
	padding: 2em;
	/* margin: 0 auto; */
}

*{
	box-sizing: border-box;
}

.nav-list{
    text-align: center;
    background-color: #3C3B3A;
    padding: 1em;
    /* padding-bottom: 20px; */
}

.nav-list ul li{
	padding: .3em;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
	display: block;
	text-decoration: none;
	color: #F2F2F2;
	font-size: 18px;    
	/* padding-top: 1em; */
}

.nav-list ul{
	text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
	font-weight: bold;
}

footer{
	background-color: #3C3B3A;
	text-align: center;
	padding: 1em;
	
}


.footer-icons{
	margin: 0 auto;
}

footer .social-media .top-button{
	align-self: flex-end;
}
.icon-div{
	display: flex;
	position: relative;
}

footer .footer-icons .icon{
	padding: .5em;
}

.top-button{
	text-align: right;
	color: #F2F2F2;
	margin-left: auto;
	position: absolute;
	right: 10px;
	top: 10px;
}

footer h3{
	color: #F2F2F2;
	font-size: 24px;
	text-align: center;
}

.top-img{
	max-width: 30%;
	margin-right: 15px;	
}

.bottom-button h4{
	text-decoration: none;
	color: #3C3B3A;
}

footer h4{
	text-decoration: none;
	color: #F2F2F2;
}

footer a{
	text-decoration: none;
	font-size: 11px;
}

/* These are the Home Styles */



h1{
	font-size: 40px;
	font-weight: bold;
}

img{
	max-width: 100%;
	height: auto;
}	

.img-logo{
	max-width: 20%;
}	

.discover-sect2 h2,
.discover-sect3 h2{
	font-size: 32px;
	font-weight: 500;
	font-style: italic;
}

.discover-sect2 h3,
.discover-sect3 h3{
	font-size: 24px;
	color: #26A682;
}

.discover-sect2 p,
.discover-sect3 p{
	font-weight: 300;
}

.started-div{
	text-align: center;
}
.started{
	padding: .2em 2.5em .2em 2.5em;
	margin-top: 1em;
	font-size: 32px;
	font-weight: bold;
	
}


.learn{
	padding: .5em;
	font-size: 20px;
	font-weight: bold;
}
.discover-head div{
	text-align: right;
	margin-top: 20px;
}
.discover-img{
	max-width: 80%;
	margin-top: 2em;
}	

.bottom-img{
	transform: rotate(180deg);
	
}	

.bottom-button{
	display: none;
	text-align: center;
	text-decoration: none;
}	

.bottom-button a{
	text-decoration: none;
}

.container a{
	background-color: #26A682;
	text-decoration: none;
	color: #F2F2F2;
	text-align: center;
	margin-bottom: 1em;
	border-radius: 50px;
	box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.356);
}	

.fas{
	padding: .5em;
	/* margin: 0 auto; */
	max-width: 100%;
}	
.discover-icons{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	
	text-align: center;
}	

.discover-img{
	display: block;
  margin-left: auto;  
  margin-right: auto;
}  

.qoute-sect{
	background-color: #3C3B3A;
}	

.qoute-sect h4{
	font-size: 24px;
	text-align: center;
	color: #F2F2F2;
	font-weight: bold;
}	

.qoute-sect p{
	color: #F2F2F2;
}	
.simon-img{
	border: solid 5px #F2F2F2;
	border-radius: 100%;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}	

.school-div,
.entertainment-div{
	display: none;
}

/* Adding max-height and object-fit to crop discover images */

/* About Styles */

.about-sect{
	background-color: #F2F2F2;
}

.about-w{
	margin-top: 1em;
}
.about-sect h3{
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
}
.subscribe-div{
	background-color: #3C3B3A;
	text-align: center;
}


.about-banner{
	background: url("../images/about.jpg");
	background-size: cover;
	height: 170px;
	mix-blend-mode: darken;
	background-color: #26A682;
	background-position: center;
	background-repeat: no-repeat;
}
.service-banner{
	background: url("../images/services.jpg");
	background-size: cover;
	height: 170px;
	mix-blend-mode: darken;
	background-color: #26A682;
	background-position: center;
	background-repeat: no-repeat;
}

.about-banner h2,
.service-banner h2{
	text-align: center;
	color: #F2F2F2;
	padding-top: 45px;
	font-size: 56px;
	font-weight: bold;
}
.service-sects img{
	display: none;
}	

.service-sects h2{
	font-size: 32px;
	font-weight: bold;
}	

.services-img,
.about-img{
	background-color: #26A682;
	mix-blend-mode: darken;
}

.service-sects h3{
	font-size: 24px;
	color: #26A682;
}	

.service-sect2,
.service-sect4{
	background-color: #F2F2F2;
}	

.subscribe-div h2{
	color: #F2F2F2;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 1em;
}

/* Adding styles for Subscribe button to be readable and match up with mockup */
.subscribe-div a{
	font-size: 20px;
	font-weight: bold;
	padding: .2em;
	padding-left: 1em;
	padding-right: 1em;
	box-shadow: none;
	
}

.thanks-logos{
	text-align: center;
}

.thanks-logos h2{
	font-size: 56px;
	font-weight: bold;
	margin-bottom: 1em;
}

/* Adding margin to give image logos spacing and match with mockup */
.thanks-img{
	margin: 1em;
}

.cibc,
.pcl,
.ac{
	width: 50%;
}
/* Contact styles */

.contact-h1{
	font-size: 50px;
}	

/* These are the form contact styles */

.form{
	background-color: #26A682;
	border: solid 0.25px #26A682;
	border-radius: 20px;
	padding: 20px 55px 20px 20px;
	margin: 1em .5em 1em .5em;
	box-shadow: 0px 4px 8px 0.5px rgba(0, 0, 0, 0.507);
}	

.form h2{
	color: #F2F2F2;
	font-weight: bold;
	font-size: 2.5rem;
	padding-left: .4em;
}	

.form input{
	padding: 1em;
	margin: .5em;
	background-color: #F2F2F2;
	border: solid 0.5px #26A682;
	font-family:'Raleway', sans-serif;
	border-radius: 50px;
	font-size: 1em;
}	

.form label{
	color: #F2F2F2;
	padding-left: 1em;
}	

.form input[type=text]{
	width: 100%;
	font-size: .8em;
	margin-left: 1em;
}	

textarea{
	padding: 1em;
	margin: 1em;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	background-color: #f2f2f2;
	width: 100%;
	height: 90px;
	resize: none;
}	

.form input[type=submit]{
	font-weight: bold;
	padding: .2em;
	color: #f2f2f2;
	font-size: 32px;
	background-color: #3c3b3a;
	font-stretch: expanded;
	/* Increasing Submit button width to match with text forms  */
	width: 100%;
	border: solid 0.5px #3C3B3A;
	box-shadow: 0px 4px 8px 0.5px rgba(0, 0, 0, 0.507);
	box-sizing: border-box;
}	

iframe{
	width: 100%;
	height: 500px;
	vertical-align: bottom;
	
}	

.map-div{
	display: none;
}


.location-text h2{
	font-size: 40px;
	font-weight: bold;
}

.location-text h3{
	font-size: 24px;
}
/* Adding styles for icon headings */

.discover-icons h3{
	font-size: 17px;
	color: #26A682;
}	



/* -----------------------------------------------
				These are the tablet styles 
----------------------------------------------------*/

@media screen and (min-width: 600px) and (max-width: 960px){

	.nav-list{
		display: flex;
  justify-content: space-between;
  align-items: center;
		padding: .1em;
	}

	.img-logo{
		max-width: 10%;
		padding-left: 2em;
	}

	.nav-list ul{
		display: flex;
		justify-content: space-around;
		padding-right: 2em;
	}
	.nav-list ul li{
		padding: 1em;
	}

	

	/* Adding Flexbox to home icons to put on same line */

	.discover-icons{
		display: flex;
		justify-content: space-between;
	}



	.discover-sect2{
		background-color: #F2F2F2;
	}
	.discover-mobile .school-img,	
	.discover-mobile .bar-img{
	position: relative;
    max-height: 240px;
    width: 100%;
    object-fit: cover;

	}

	.started{
		padding: .2em 1em .2em 1em;
	}

	.qoute-sect{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* grid-template-rows: 1fr; */
		grid-template-areas: "img p"		
							"h4 p";
	}

	.qoute-sect img{
		grid-area: img;
	}

	.qoute-sect div{
		grid-area: h4;
	}

	.qoute-sect p{
		grid-area: p;
	}

	.bottom-button{
		display: block;
	}	

	/* About Styles */

	.service-sects img{
		display: block;
	}	
	.service-sect1,
	.service-sect2,
	.service-sect3,
	.service-sect4{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
		
	}

	


}

/*-------------------------------------
 		These are the desktop styles 
 -----------------------------------*/

 @media screen and (min-width: 960px){


	/* These are the custom styles */

	.container{
		padding: 4em;
		margin-top: 4em;
	}

	/* Adding flexbox to put logo on same line  */
	.nav-list{
		display: flex;
  		justify-content: space-between;
  		align-items: center;
		padding: .2em;
	}

	.img-logo{
		max-width: 10%;
		padding-left: 4em;
	}


	/* Adding flexbox to put nav texts on same line with logo */
	.nav-list ul{
		display: flex;
		justify-content: space-around;
		padding-right: 4em;
	}
	.nav-list ul li{
		padding: 1em;
	}



	h1{
		font-size: 72px;
	}

	.top-img{
			max-width: 50%;
			margin-right: 15px;	
		}

	/* These are the Home styles */

	/* Adding Flexbox to home icons to put on same line */


	.discover-mobile{
		display: none;
	}


	.started-div{
		text-align: left;
	}

	.started{
		padding: .2em 1em .2em 1em;
	}
	.school-div,
	.entertainment-div{
	display: block;
	}

	.discover-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;
	}

	.discover-grid p{
		font-size: 24px;
	}

	.discover-sect2{
		background-color: #F2F2F2;
	}
	.discover-sect2,
	.discover-sect3{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;
	}

	.qoute-sect{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-content: space-around;
	}
	
	.discover-img{
		max-width: 100%;
	}	

	.discover-icons{
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}



	.bottom-button{
		display: block;
	}	


	/* These are the About styles */

	.construction-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	.about-grid{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5em;
	}

	.service-sects img{
		display: block;
	}	

	.service-sect1,
	.service-sect2,
	.service-sect3,
	.service-sect4{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
		
	}

	.logo-flex{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		align-items: center;
	}

	.contact-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	.contact-grid img{
		max-width: 80%;
	}
	.location-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	iframe{
		margin-bottom: 2em;
	}

	.map-div{
		display: block;
	}

	.location-map{
		display: none;
	}


 }
