body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

:root{
    --black: #0F0D0D;
    --white: #F7F7F7;
    --grey: #505050;
}

.footer-icons .icon{
    border-radius: 25%;
    background-color: var(--grey);
    padding: .7em;
}
.footer-icons .icon:hover{
   background-color: var(--black);
}