/* ---Custom Styles--- */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

.wrapper{
    width: 90%;
    margin: auto;
}

:root{
    --black: #0F0D0D;
    --white: #F7F7F7;
    --grey: #505050;
    --border-radius: 10px;
}

p,
h1,
h3,
h4{
    color: var(--black);
}

h1{
    text-align: center;
}

.nav-list{
    text-align: center;
    background-color: var(--black);
    padding: 1em;
}

/* Adding padding to Nav to give more spacing */
.nav-list ul li{
	padding: .5em;
    color: var(--white);
    list-style: none;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
	display: block;
	text-decoration: none;
	color: var(--white); 
    font-weight: 800;
    text-transform:uppercase;
    padding: .6em;
}

.nav-list ul{
	text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
	background-color: var(--grey);
    border-radius: var(--border-radius);
}

img{
    max-width: 100%;
    height: auto;
}

footer{
    text-align: center;
}

.footer-icons .icon{
    border-radius: var(--border-radius);
    background-color: var(--grey);
    padding: .8em;
    width: 15px;
}
.footer-icons .icon:hover{
   background-color: var(--black);
}

/* .footer-icons .tw{
    width: 1.2%;
} */

/* ---Home Page---- */
.home-sect{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 4.5em;
}

.home-sect h1{
    font-size: 36px;
}

.home-sect p{
    margin-bottom: 1em;
}

.home-sect img{
    max-width: 55%;
}

.btn-div{
    margin-top: 5em;
}
.view-portfolio{
    color: var(--white);
    background-color: var(--grey);
    padding: 1em;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 2em;
    border-radius: var(--border-radius);
}

.view-portfolio:hover{
    background-color: var(--black);
}

/* ---Portfolio Page */

.portfolio-sect{
    text-align: center;
}