body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

.wrapper{
    width: 90%;
    margin: auto;
}

:root{
    --black: #0F0D0D;
    --white: #F7F7F7;
    --grey: #505050;
}

.nav-list{
    text-align: center;
    background-color: var(--black);
    padding: 1em;
}

/* Adding padding to Nav to give more spacing */
.nav-list ul li{
	padding: .5em;
    color: var(--white);
    list-style: none;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
	display: block;
	text-decoration: none;
	color: #F2F2F2;
	font-size: 18px;  
    font-weight: 800;
    text-transform:uppercase;
    padding: .6em;
}

.nav-list ul{
	text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
	background-color: var(--grey);
}

footer{
    text-align: center;
}
.footer-icons .icon{
    border-radius: 30%;
    background-color: var(--grey);
    padding: .8em;
    width: 15px;
}
.footer-icons .icon:hover{
   background-color: var(--black);
}

.home-sect{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

/* .home-sect h1{
    border: solid 2px var(--black);
    padding-right: 0;
} */

.home-sect p{
    margin-bottom:1em ;
}

.home-sect img{
    max-width: 55%;
}

.view-portfolio{
    color: var(--white);
    background-color: var(--grey);
    padding: 1em;
    text-decoration: none;
    font-weight: 600;
}

.view-portfolio:hover{
    background-color: var(--black);
}