body{
        font-family: Arial, Helvetica, sans-serif;
        color: darkslategray;
    }
/* This is a CSS comment Ctrl+/  
*/
h1{
    color: white;
}

p{
    background-color: lightblue;
}

h1,
h2,
h3{
    text-decoration: underline;
}
/* Selecting child elemets */

nav li{
    list-style: square;
}

nav a{
    color: darkslategray;
    text-decoration: none;
}

/* Selecting HTML elements with class name */
.orange-text{
    background: darkslategrey;
    color: orange;
    text-decoration: none;
}
/* Selecting id value for styling the element */
#tow{
    background: orange;
}
/* We can add multiple classes to one element */
.larger-text{
    font-size: 20px;
}
/* Child slector or Direct Child selector 
Seelecting only the p directly inside the article */
article>p{
    font-size: 24px;
}
/* Adjacent sibling slector
Selecting only ul that is adjacent to a h3 */
h3+ul{
    border: 1px solid black;
}
/* Attribute Selector 
Selecting element that has attribute of href set to value #tow
*/
[href="#tow"]{
    font-weight: bold;
}
[target="_blank"]{
    text-transform: uppercase;
}
/* Using Pseudo Classes Styling Navigation */
nav ul a,
nav ul a:link,
nav ul a:visited{
    background: orange;
    /* horizontal, vertical, blur, spread, color */
    box-shadow: -2px 2px 4px 2px black;
}