body{
        font-family: Arial, Helvetica, sans-serif;
        color: darkslategray;
    }
/* This is a CSS comment Ctrl+/  
*/
h1{
    color: white;
}

p{
    background-color: lightblue;
}

h1,
h2,
h3{
    text-decoration: underline;
}
/* Selecting child elemets */

nav ul{
    list-style: square;
}

nav a{
    color: darkslategray;
    text-decoration: none;
}