
/* Styling body with font-style and font-size */
body{
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* Styling header and footer */
header,
footer{
    background-color: darkcyan;
}

/* Syling site-title class on main heading */
.site-title{
    color: lawngreen;
    text-align: center;

}

/* Styling my image with id */
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

/* Replacing the bullets from the list of hobbies with squares */
section ul li{
    list-style: square;
}

/* Using nth-child selector 
to add a background to the odd list items in the hobby list  */
section ul li:nth-child(odd){
    background: red;
}


/* Styling the Navigation */
nav li{
    list-style: none;
}

a:link{
    text-decoration: none;
    
}

