/* 

        CSS RESET CODE

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------
    These are the mobile styles
--------------------------------- */
html{
	font-family:'Montserrat', sans-serif;
}

body{
	background-color: #f7f7ff;
	color: #333131;
}

header{
	padding-left: 2em;
}
.logo-img{
    max-width: 40%;
    
}

h1{
    font-size: 4em;
	font-weight: bold;
	line-height: 1;
	padding-right: 120px;
}

header p{
   font-size: 30px;
   line-height: 1;
   padding-bottom: 12px;
}

.bg-img{
	max-width: 80%;
	padding-left: 50px;

}

.apply-now{
	background-color: #ffffff;
	border: solid 0.25px #f7f7ff;
	border-radius: 20px;
	/* text-align: center; */
	/* 		top	 right bottom left   */
	padding: 10px 20px 20px 40px;
	/* Figure out padding and margin */
	margin: 2em 2em 4em 2em;
	box-shadow: 0px 4px 8px 0.5px rgba(0, 0, 0, 0.507);
}
.apply-now h2{
	
	font-weight: bold;
	font-size: 3em;
	line-height: 1.5;
	/* text-align: left; */
}

.form p{
	line-height: 1.5;
}

.form input{
	padding: 1em;
	margin: .5em;
	background-color: #f4f4f5;
	border: solid 0.5px #f4f4f5;
	border-radius: 10px;
	/* width: 250px; */
	
}

.form input[type=submit]{
	font-weight: bold;
	padding: 0.5em;
	color: #333131;
	font-size: 1.3rem;
	text-transform: uppercase;
	background-color: #57eeab;
	font-stretch: expanded;
	/* width: 250px; */
}


.orange-text{
	color: #ff8480;
	text-decoration: none;
}
footer{
	background-color: #fffd8c;
	padding: 2em;
	
}

footer h3{
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 12px;
}
