/* body{
    background: url(./images/bg-image/scooter.svg);
    height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

} */

.bg-img{
    max-width: 100%;
    
}