/* 

        CSS RESET CODE

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------
    These are the mobile styles
--------------------------------- */



html{
	font-family:'Montserrat', sans-serif;
}

/* Adding BG colour and Text font color to match with mockup */
body{
	background-color: #f7f7ff;
	color: #333131;
}

/* Adding padding-left and right to move header elements from the edge */
header{
	padding-left: 2em;
	padding-right: 2em;
}

/* Decreasing size of logo to fit on screen */
.logo-img{
    max-width: 30%;
	padding-bottom: 20px;
	padding-left: 2em;
}

/* Styling h1 to be more readable on mobile */
h1{
    font-size: 4em;
	font-weight: bold;
	line-height: 1.2;
}

/* Adjusting size and spacing for header p to be readable */
header p{
   font-size: 25px;
   line-height: 1.2;
   padding-top: 30px;
}

/* Adjusting size and spacing of Scooter Image to fit on screen */
.bg-img{
	max-width: 80%;
	padding-left: 50px;
}

/* Styling the Apply Now form to match with mockup  */
.apply-now{
	background-color: #ffffff;
	border: solid 0.25px #f7f7ff;
	border-radius: 20px;
	padding: 10px 20px 20px 20px;
	margin: 2em 2em 4em 2em;
	box-shadow: 0px 4px 8px 0.5px rgba(0, 0, 0, 0.507);
}

.apply-now h2{
	font-weight: bold;
	font-size: 3em;
	line-height: 1.5;
}


.form p{
	line-height: 1.5;
	font-size: 1.2em;
}



.desktop-p{
	display: none;
}

/* Adjusting styles of form inputs to match with mockup */
.form input{
	padding: .5em;
	margin: .5em;
	background-color: #f4f4f5;
	border: solid 0.5px #f4f4f5;
	font-family:'Montserrat', sans-serif;
	border-radius: 10px;
	font-size: 1em;
}

/* Adjusting width for forms to line up with Drive With Us button */
.form input[type=text]{
	width: 90%;
}

/* Styling DRIVE WITH US button to match with mockup */
.form input[type=submit]{
	font-weight: bold;
	padding: .7em;
	color: #333131;
	font-size: 1.3rem;
	text-transform: uppercase;
	background-color: #57eeab;
	font-stretch: expanded;
	/* Increasing DRIVE WITH US button width to match with text forms  */
	width: 97%;
}


/* Adding #ff8480 and text-decoration: none; to match with mockup */
.orange-text{
	color: #ff8480;
	text-decoration: none;
}

/* These are the Footer styles */
footer{
	background-color: #fffd8c;
	padding: 2em;
	
}


/* Adding styles footer h3 to match with mockup */
footer h3{
	font-size: 1.5em;
	font-weight: bold;
	/* Adding padding-bottom:; to push paragraph down */
	padding-bottom: 12px;
}

footer p{
	font-size: 1.2em;
	line-height: 1;
}

/* Adding styles for Footer Form Inputs to match with mockup */
.footer-form input{
	padding: .5em;
	margin: .1em;
	margin-bottom: .5em;
	margin-top: .5em;
	font-size: 1em;
	font-family:'Montserrat', sans-serif;
	background-color: #f4f4f5;
	border: solid 0.5px #fffd8c;
	border-radius: 10px;	
}

/* Adding styles for the CALCULATE button to match with mockup */
.footer-form input[type=submit]{
	background-color: #ff8480;
	color: #f7f7ff;
	font-weight: bold;
	text-transform: uppercase;
	padding: .5em;
	font-size: 1.4em;
	width: 98%;
}

/* Adjusting width for Hours form to match with mockup */
.footer-form input#hours{
	width: 15%;
}

/* Adjusting width for City form to lineup with CALCULATE button */
.footer-form input#city{
	width: 70%;
}

/* Adding text-align:center; to align icons to center */
.footer-icons{
	text-align: center;
}

/* Adding padding to have give icons space */
.footer-icons .icon{
	padding: 1.2rem;
	
}

/* Adding border and border-radius to round corners of facebook icon */
footer .footer-icons .fb{
	border: solid 0.25px #fffd8c;
	border-radius: 50px;
}



/*------------------------------------------
		These are the TABLET Styles
-----------------------------------------*/

@media screen and (min-width: 600px) and (max-width: 1024px){
	
h1{
	font-size: 3.5em;
}

.logo-img{
	max-width: 20%;
}

	
 header p{
	z-index: 1;
	position: absolute;
	padding-right: 2em;
}	 

/* Decreasing font-size of Apply Now h2 and p to match with mockup example */

.apply-now h2{
	font-size: 2em;
}


.form-head p{
	font-size: 1.3em;
}


.form p{
	font-size: 1em;
}

/* Hiding the Enter your info below to get started to match with mockup */
.desktop-p{
	display: none;
}

.form input[type=text]{
	width: 90%;
}

.form input[type=submit]{
	width: 94%;
}
	
/* These are the Footer styles */

footer h3{
	font-size: 1.3em;
}
.footer-form input#hours{
	width: 15%;
}

.footer-form input#city{
	width: 43%;
}

/* Decreasing CALCULATE button to move on the same line as forms */

.footer-form input[type=submit]{
	width: 30%;
	padding: .5em;
	font-size: 1.2em;
}

}



  /* ------------------------------------
  		These are the DESKTOP Styles 
  -------------------------------------*/

  @media screen and (min-width: 1024px){

/* Decreasing Logo size to fit on Desktop screens  */
.logo-img{
	max-width: 7%;
	padding-left: 4em;
}	

/* Adjusting padding and size of h1 to fit on screen  */
h1{
	font-size: 3.7em;
	padding-right: 50%;
}

/* Adjusting padding and size of header p to fit on screen  */
 header p{
	 font-size: 1.1em;
	 padding-right: 55%;
 }

 /* Increasing paddings and margins of all apply now element to fit on screen */
.apply-now{
	margin: 2em 4em 6em 4em;
	padding-left: 3em;
	padding-right: 3em;
}

.form-head h2{
	font-size: 1.8em;
}
.form-head p{
	font-size: 1em;
}

.mobile-tablet-p{
	display: none;
}

.desktop-p{
	display: block;
}

.form p{
	font-size: .8em;
}

.bg-img{
	max-width: 45%;
	z-index: -1;
	position: absolute;
	padding-left: 25%;
}

/* Using Flexbox to put h1, BG image and Drive with us Form on one column  */
.main-flex{
	display: flex;
	align-items: flex-start;
}

header{
	margin-top: 2%;
	position: relative;
	padding-left: 4em;
}
.form input{
	padding: .8em;
}
.form input[type=submit]{
	font-size: 1.5em;
	padding: .3em;
}


/* These are the Footer styles */

/* increasing padding-left and right to match with mockup */
footer{
	padding-left: 4em;
	padding-right: 4em;
}

/* Decreasing font-size to fit on desktop screens*/
footer h3{
	font-size: 1em;
}

footer p{
	font-size: 1em;
}

.footer-form input#city{
	width: 45%;
}

.footer-form input[type=submit]{
	width: 25%;
	padding: .5em;
	font-size: 1em;
}

.footer-icons{
	padding-right: 1em;	
}

/* Adding Flexbox to move icons on right side */
.footer-flex{
	display: flex;
	justify-content: space-between;
}

/* Adding Flexbox to change icons order */
.footer-icons{
	display: flex;
	justify-content: space-between;
}

/* Removing border and border-radius to match with mockup */
footer .footer-icons .fb{
	border: 0;
	border-radius: 0;
	order: 1;
}

/* Adding order: 2; to linked-in icon to push to the right end */
footer .footer-icons .ln{
	order: 2;
}

}