body{
    margin: 0 auto;
}
#nav.nav{
    border: none;
    background-color:#e7e7de;
}

.nav .nav-link{
    padding: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:100;
    color: #00587a;
    font-style: unset;
}

.nav .nav-link:hover{
    color:#008891;
}

#home.home h1{
    font-size: 60px;
    color: #e7e7de;
}

#home.home p{
    color: #e7e7de;
    font-size: smaller;
    line-height: 1.5;
}

#home.home{
    background-color: #008891;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact .contact-form{
    background-color: #f24333;
}


footer{
    background-color: #0f3057;
    margin: 
}

footer p{
    color: #e7e7de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}