
/*
---------------------------------------
            CSS RESET
------------------------------------- 
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------
                Style for Mobile Screens
--------------------------------------------------- */

body{
    /* margin: 0 auto; */
    /* Segoe UI', Tahoma, Geneva, Verdana, sans-serif to please the eyes on screens */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

#main.main{
    max-width: 100%;
}

/* Navigation */
#nav.nav{
    border: none;
    /* Chose #008891 for ADD */
    background-color:#008891;
    max-width: 100%;
    /* margin: 0 auto; */
}

.nav .nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e7de;
    display: block;
	list-style-type: none;
	padding-top: 10px;
}

.nav .nav-link:hover{
    text-decoration: underline;
}

/* Home */
#home.home h1{
    font-size: 56px;
    color: #e7e7de;
    line-height: 2;
}

#home.home p{
    color: #e7e7de;
    font-size: 16px;
    font-weight: lighter;
    line-height: 2;
    
}

#home.home{
    background-color: #0f3057;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* About */
#about.about{
    background-color: #00587a;
    
}

#about.about .about-image{
    width: 300px;
    padding-left: 100px;
    margin-top: 30px;
    float: none;
    display: block;
    
    padding-bottom: 10px;
}

#about.about h2{
    font-size: 36px;
}
#about.about p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    margin-top: 12px;
    padding: 1em;
}


/* Contact */

#contact.contact{
    background-color: #0f3057;
    color: #e7e7de;
    /* line-height: 1.5; */
}
.contact .contact-form{
    background-color: #008891;
}


footer{
    background-color: #008891;
    padding:1em; 
}

footer p{
    color: #e7e7de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    font-size: 12px;
}