body{
    margin: 0 auto;
}
#nav.nav{
    border: none;
    background-color:#008891;
}

#nav.nav{
    font-weight:lighter;
}
.nav .nav-link{
    padding: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e7de;
    
}

.nav .nav-link:hover{
    text-decoration: underline;
}

#home.home h1{
    font-size: 60px;
    color: #e7e7de;
}

#home.home p{
    color: #e7e7de;
    font-size: 16px;
    font-weight: lighter;
    line-height: 2;
}

#home.home{
    background-color: #0f3057;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about.about{
    background-color: #008891;
    padding: 10px;
}

#about.about p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.contact .contact-form{
    background-color: #f24333;
}


footer{
    background-color: #008891;
    padding:1em; 
}

footer p{
    color: #e7e7de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}