
/*
---------------------------------------
            CSS RESET
------------------------------------- 
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------
                Style for Mobile Screens
--------------------------------------------------- */

body{
    margin-left: auto;
    margin-right: auto;
    /* Segoe UI', Tahoma, Geneva, Verdana, sans-serif to please the eyes on screens */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#main.main{
    max-width: 100%;

}

/* Navigation */
#nav.nav{
    border: none;
    /* Chose #008891 for ADD */
    background-color:#008891;
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.nav .nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e7de;
    display: block;
	list-style-type: none;
    padding-top: 10px;
    padding: 1em;
    margin: 0;
}

#nav .nav-link {
    margin: 0;
}
.nav .nav-link:hover{
    text-decoration: underline;
}

/* Home */
#home.home h1{
    font-size: 56px;
    color: #e7e7de;
    line-height: 2;
}

#home.home p{
    color: #e7e7de;
    font-size: 16px;
    font-weight: lighter;
    line-height: 2;
    
    
}

#home.home{
    background-color: #0f3057;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* About */
#about.about{
    background-color: #00587a;
    
}

#about.about .about-image{
    width: 300px;
    padding-left: 120px;
    margin-top: 30px;
    float: none;
    display: block;
    
    padding-bottom: 10px;
}

#about.about h2{
    font-size: 36px;
}
#about.about p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    margin-top: 12px;
    padding: 1em;
    text-align: center;
}


/* Contact */

#contact.contact{
    background-color: #0f3057;
    color: #e7e7de;
    line-height: 1.5;
    width: 100%;
}

#contact.contact p{
    line-height: 2;
    padding: 1em;
    text-align: center;
}
.contact .contact-form{
    background-color: #0f3057;
    max-width: 120px;
    padding: 0;
    padding-right: 120px;
}

.contact-form .contact-form-input{
    width: 250px;
    padding: .5em;
}

.contact-form-section{
    padding: 1em;
}

textarea{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    resize: none;
}

button{
    background-color: inherit;
    color: #e7e7de;
    border: solid 2px white;
    padding: 1em;
    margin-left: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

button:hover,
button:focus{
   background-color: #008891;
   
}
button:active{
    font-weight: bold;
}
footer{
    background-color: #008891;
    padding:1em; 
}

footer p{
    color: #e7e7de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    font-size: 14px;
}

/* ---------------------------------------------------
            Style for Desktop Screens
--------------------------------------------------- */

@media screen and (min-width: 760px){
.nav .nav-link {
    display: inline; 
    padding: 3em;  
}

#nav.nav{
    padding-bottom: 25px;
    padding-top: 25px;
}










}