html{
    scroll-behavior: smooth;
}

/* body */
body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1.5em;
}

/* Styling h1 */
h1{
    color: #ffffff;
    font-size: 4vw;
    font-weight: lighter;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-45%, -53%);
}



/* Styling Wide Image */
header .wide-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}


/* Adding margin to paragraph */
section p{

    margin: 10px;
    
}

/* Adding position */
.container{
    position: relative;
}



/* Navigation */
table{
    width: 100%;
    text-align: center;
}
td{
    font-size: 20px;
    padding: .4em;
    text-transform: uppercase;
}

a{
    color: black;
    
}

nav table a:hover,
nav table a:focus {
    text-decoration: underline;
  }

  nav table a:active{
    color: #aad4cf;
  }

  /* Removing underline on links */
a:link{
    text-decoration: none;
  }

/* BG center colour */
article{
    background-color: #d4e9e7;
    

}

/* Adding margin on h2 and h3 */
h2,
h3{
    margin: 10px;
}



/* Image wrap */
article .close-up{
    float: left;
    padding: 0 5px 0 0;
    max-width: 15%;
    height: auto;
    margin: 10px;
    }



/* Contact  */


div input{
    display: inline-block;
    padding-right: 80%;
    margin: 10px;
}

.message-box{
    display: block;
    margin: 10px;
    width: 96%; 
    resize: none;
    height: 150px;
}

input[type=text], 
input[type=email]{ 
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
 } 

.button{
    
    background-color: #d4e9e7; 
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}

.contact-border{
    border: 1px solid black;
    margin: 10px;
    padding: 1em;
}

/* footer */
footer p{
    text-align: right;
    padding: 20px;
    margin: 20px;
}

footer .top{
    padding: 1em;
    margin: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    
}

footer .top:hover,
footer .top:focus{
    text-decoration: underline;
}

footer .top:active{
    color: #aad4cf;
}