body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: lighter;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-45%, -53%);
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


/* Styling the Navigation */
/* Removing Bullets */
nav li{
    list-style: none;
    font-size: 24px;
    display: inline;
    padding: 50px;
    
}

/* Removing underline */
a:link{
  text-decoration: none;
}

input[type=text], select {
    width: 10%;
    padding: 12px 10px;
    margin: 11px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}