html{
    scroll-behavior: smooth;
}

/* Styling body */
body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1.5em;
}

/* Styling h1 */
h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: lighter;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-45%, -53%);
}

/* h1, 
.close-up{
    position: relative;
    text-align: center;
} */

/* Styling Wide Image */
header .wide-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

/* Adding margin to paragraph */
section p{

    margin: 10px;
    
}

/* Styling the Navigation */

nav table a{
    list-style: none;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    color: black;
 }

 /* Fixing alignment */
 table{
        width: 100%;
        text-align: center;
        
 }
    
        


td{
        /* border-right: 1px solid black; */
        font-size: 20px;
        padding: 1em;
    }

article{
    background: #d4e9e7;
    

}


h2,
h3{
    margin: 10px;
}

/* Removing underline */
a:link{
  text-decoration: none;
}



nav table a:hover,
nav table a:focus {
    text-decoration: underline;
  }

  nav table a:active{
    color: #aad4cf;
  }

article .close-up{
    float: left;
    padding: 0 5px 0 0;
    max-width: 15%;
    height: auto;
    margin: 10px;
    
}


footer p{
    text-align: right;
    padding: 20px;
    margin: 20px;
}



div input{
    display: inline-block;
    padding-right: 80%;
    margin: 10px;
}

.message-box{
    display: block;
    margin: 10px;
    width: 96%; 
    resize: none;
    height: 150px;
}
.forms{
    max-width: 20%;
}

.button{
    
    background-color: #d4e9e7; 
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}

.contact-border{
    border: 1px solid black;
    margin: 10px;
    padding: 1em;
}

footer .top{
    padding: 1em;
    margin: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    
}

footer .top:hover,
footer .top:focus{
    text-decoration: underline;
}

footer .top:active{
    color: #aad4cf;
}
