@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 330px;
    font-size: 4.3rem;
}

.hero{
    position: relative;
    min-height: 100vh;
   background-image:linear-gradient(120deg,
                        rgba(26, 108, 202, 0.2),
                        rgba(0, 234, 255, 0.45)
   );
    /* background-blend-mode: overlay; */
    overflow: hidden;
    
}

.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 50px 80px;
    z-index: 10;

}

.header img{
    max-width: 20px;
    filter: invert(1);
    /* display: inline-block; */
    
}
 .header h3{
     color: white;
     font-size: 24px;
     text-transform: uppercase;
 }
.video-bg{
    position: absolute;
    z-index: -1;
    min-height: 200px;
}

@media screen and (min-width: 600px){
    h2{
        padding-top: 430px;
        font-size: 6rem;
    }
    
}