/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------- 
    Custom Mobile Styles
----------------------------*/

html {
    font-family: 'Open Sans', sans-serif;
    
  }

body{
    line-height: 1.5;
  }

.main-head{
      background-color:#222;
      padding: 1em;
     
  }
  .logo-container{
      
      background-color: #c78c06;
      
    }
    
    /* Navigation */
.nav-list li{
    list-style: none;
    text-align: center;
    
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
    display: block;
    text-decoration: none;
    color: #c78c06;    
    padding: 1em;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
    background-color: #c78c06;  
    color: inherit;
}

.im-magnifier{
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    padding: .5em;
     
}
.search-bar{
    display: flex;
    padding: 1em;
}
#search{
   flex: 1;
  padding: 12px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    




.container {
    max-width: 1200px;
    margin: 0 auto;
  }

.main-div{
    position: absolute;
    width: 550px;
    height: auto;
    top: 90%;
    
}
.main-p{
    position: absolute;
    top: 20px;
}
.banner-img{
    position: relative;
    width: 100%;
    height: auto;
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    /* top, left-right, bottom  */
    margin: 1em 0 0.5;
}

h1{
    color: black;
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    padding: 15px;
}
h3{
    font-size: 2rem;
    padding: 15px;
}
h4{
    font-size: 1rem;
    padding: 15px;
}
button:hover,
button:focus{
   text-decoration: underline; 
}
/* Buttons */
.main-button{
    border: none;
    background-color: #c78c06;
    padding: 1rem;
    font-size: large;
    
}

.im-care-right{
    padding: .5em;
}


.content-button{
    border: none;
    color: white;
    font-size: 1rem;
    padding: .5em;
    background-color:#222 ;
    margin: .5rem;
    }


th{
background-color: #ffe6ac;
}
table{
border-collapse: collapse;
width: 100%;
}
td, th{
border: 1px solid black;
padding: 15px;
}

/* Footer */
.unsplash{
    color: inherit;
}
footer .container{
background-color: #222;
color: #c78c06;
padding: 20px;
}
footer .container p{
padding: 10px;
}