/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------- 
Custom Mobile Styles
----------------------------*/

html {
  font-family: 'Open Sans', sans-serif;
  
}

body{
  line-height: 1.5;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}

/* Header */
.main-head{
      background-color:#222;
      padding: 2em;
     
  }
  .logo-container{
      
      background-color: #c78c06;
      
    }
    
    /* Navigation */
.nav-list li{
    list-style: none;
    text-align: center;
    
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
    display: block;
    text-decoration: none;
    color: #c78c06;    
    padding: 1em;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
    background-color: #c78c06;  
    color: inherit;
}

.im-magnifier{
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    padding: .5em;
     
}
/* Searchbar styles Using flex */
.search-bar{
    display: flex;
    padding: 1em;
}

#search{
  flex: 1;
  padding: 12px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    

/* Banner */
.main-div{
  position: absolute;
  width: 520px;
  height: auto;
  top: 88%;
  padding: .5em;
  background-color: rgba(34, 34, 34, 0.534);  
}




.main-div p{
  color: white;
  margin-top: 1em;
  font-size: 12px;
}


.banner-img{
  position: relative; 
  vertical-align: bottom; 
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;  
}

h1{
  color: white;
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  
}
h3{
  font-size: 1.5rem;
  
}
h4{
  font-size: 1rem;
  
}
button:hover,
button:focus{
  text-decoration: underline; 
}
/* Buttons */

.im-care-right{
  padding: 1em;
}

/* Main */
.content-button{
  border: none;
  color: white;
  font-size: 1.1rem;
  background-color:#222 ;
  margin-top: 1em;
  padding: .5em 1em;
 
}





.main-button {
  border: none;
  background-color: #c78c06;
  font-size: 1.1rem;
  margin-top: 1em;
  
}


/* About Us */
.about-us{
  background-color: #ffe6ac;
  padding: 1em;
}
.about-us p{
  font-size: smaller;
}

/* Our Services */
.cards-1{
  padding: 1em;
  
  
}

.ser-head{
  padding: .5em .5em;
  
}

/* Our Services Sections */
.service-sect{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin-top: 1em;
   
}

.service-sect .info{
  padding: 1em;
}

.service-sect img{
width: 100%;
}
.service-sect p{
font-size: smaller;
}

/* Our Vision Section */

.vision-sect .vision-div{
  position: absolute;
  transform: translate(1%, -100%);
  width: 520px;
  height: auto;
  color: white;
  padding: 1em;
  
}
.vision-sect p{
  font-size: smaller;
}
.vision-img{
  position: relative;
  height: auto;
  width: 100%;
}

/* Our Team */

.cards-2{
  padding: 1em;
  
  
}
.cards-2 h2{
  padding-top: .5em;
}



/* Our Team Section */
.team{
  background-color: #ffe6ac;
  background-size: 90%;
  margin-top: 1em;  
}

.team .info{
  padding: 1em;
}
.team .info h4{
  border-bottom: solid 3px #c78c06;
  
}

.team img{
width: 100%;
}
.team p{
font-size: smaller;
padding-top: 1em;
}
/* Table */
th{
background-color: #ffe6ac;
}
table{
border-collapse: collapse;
width: 100%;
padding: 1em;
}
td, th{
border: 1px solid #222;
padding: 1em;
}

/* Contact Us */

.hours{
  padding-top: 1em;
}
.cards-3{
  padding: 1em;
}

/* Forms */


/* Input */

input[type=text], 
input[type=email]{ 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
/* Message */
.message-box{
  display: block;
  margin: 8px 0;
  width: 99.5%; 
  resize: none;
  height: 10rem;
}

.submit-button{
  color: #c78c06;
  background-color: #222;
  padding: 1em;
}

/* Location */
.location-container{
  padding-top: 1em;
}
.location-container iframe{
 
  max-width: 100%;
}

/* Footer */
.unsplash{
    color: inherit;
}
footer p{
background-color: #222;
color: #c78c06;
padding: 1em;
font-size: smaller;
}


/* -----------------------
      Desktop Styles
------------------------- */

@media screen and (min-width: 760px){
  .nav-list ul li{
    display: inline-block;
    margin: 1em;
  }

  .nav-list ul li:nth-child(7){
    margin-top: 1em;
  }
  .search-bar{
    margin-bottom: 1em;
  }

p{
  font-size: large;
}

h1{
  font-size: 5rem;
}

.main-div{
  width: 750px;
}

/* About Us using Grid */
.about-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
}


/* Service Section using Grid */
.cards-1{
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2);
  grid-template-areas: 
      "ser1 ser1 ser1 ser2 ser2 ser2"
      "ser3 ser3 ser4 ser4 ser5 ser5";
  gap: 1em;
}

.cards-1 .digital-sect{
  grid-area: ser1;
}

.cards-1 .market-sect{
  grid-area: ser2;
}

.cards-1 .video-sect{
  grid-area: ser3;
}

.cards-1 .web-sect{
  grid-area: ser4;
}

.cards-1 .print-sect{
  grid-area: ser5;
}



.team-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
      "one two"
      "three four"
  ;
}
 
.team-grid .our-team:nth-child(1){
  grid-area: one;

}

.team-grid .our-team:nth-child(2){
  grid-area: two;

}

.team-grid .our-team:nth-child(3){
  grid-area: three;

}

.team-grid .our-team:nth-child(4){
  grid-area: four;

}

 .cards-3{
   display: flex;
 }

 .cards-3 .location{
  order: 2;
}


} 