/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------- 
Custom Mobile Styles
----------------------------*/

html {
  font-family: 'Open Sans', sans-serif;
  
}

body{
  line-height: 1.5;
}

.container{
  max-width: 1200px;
  
}

img{
  max-width: 100%;
  height: auto;
}

/* Header */
.main-head{
      background-color:#222;
      padding: 1em;
     
  }
  .logo-container{
      
      background-color: #c78c06;
      
    }
    
    /* Navigation */
.nav-list li{
    list-style: none;
    text-align: center;
    
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
    display: block;
    text-decoration: none;
    color: #c78c06;    
    padding: 1em;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
    background-color: #c78c06;  
    color: inherit;
}

.im-magnifier{
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    padding: .5em;
     
}
.search-bar{
    display: flex;
    padding: 1em;
}

#search{
  flex: 1;
  padding: 12px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    

/* Banner */
.main-div{
  position: absolute;
  width: 520px;
  height: auto;
  top: 85%;
  padding: .5em;
  background-color: rgba(34, 34, 34, 0.534);  
}

.conatiner .main-button{
  padding: 1em;
}
.main-button {
  border: none;
  background-color: #c78c06;
  padding: .5em;
  font-size: 1rem;
  
}

.main-div p{
  color: white;
  padding: 1em;
  font-size: 12px;
}


.banner-img{
  position: relative;  
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;  
}

h1{
  color: white;
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  
}
h3{
  font-size: 2rem;
  
}
h4{
  font-size: 1rem;
  
}
button:hover,
button:focus{
  text-decoration: underline; 
}
/* Buttons */

.im-care-right{
  padding: .5em;
}

/* Main */
.content-button{
  border: none;
    color: white;
    font-size: 1rem;
    padding: .5em;
    background-color:#222 ;
    margin: .5rem;
    }

  /* About Us */
.about-us{
  background-color: #ffe6ac;
  padding: 1em;
}
.about-us p{
  font-size: smaller;
}

/* Our Services */
.cards-1{
  padding: 1em;
  
 
}

/* Digital Section */
.digital-sect{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin: cover;  
}

.digital-sect .info{
  padding: 1em;
}

.digital-sect img{
width: 100%;
}
.digital-sect p{
font-size: smaller;
}
/* Marketing Section */
.market-sect{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin: cover;  
}

.market-sect .info{
  padding: 1em;
}

.market-sect img{
width: 100%;
}
.market-sect p{
font-size: smaller;
}
/* Video Production Section */
.video-sect{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin: cover;  
}

.video-sect .info{
  padding: 1em;
}

.video-sect img{
width: 100%;
}
.video-sect p{
font-size: smaller;
}
/* Web Development Section */
.web-sect{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin: cover;  
}

.web-sect .info{
  padding: 1em;
}

.web-sect img{
width: 100%;
}
.web-sect p{
font-size: smaller;
}

/* Print Section */
.print-sect{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin: cover;  
}

.print-sect .info{
  padding: 1em;
}

.print-sect img{
width: 100%;
}
.print-sect p{
font-size: smaller;
}

/* Our Vision Section */

.vision-sect .vision-div{
  position: absolute;
  transform: translate(1%, -100%);
  width: 520px;
  height: auto;
  color: white;
  padding: 1em;
  
}
.vision-sect p{
  font-size: smaller;
}
.vision-img{
  position: relative;
  height: auto;
  width: 100%;
}

/* Our Team */

/* John Doe */
.team-1{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin: cover;  
}

.team-1 .info{
  padding: 1em;
}
.team-1 .info h4{
  border-bottom: solid 4px #c78c06;
  
}

.team-1 img{
width: 100%;
}
.team-1 p{
font-size: smaller;
padding-top: 1em;
}

/* Bob Rite */
.team-2{
  background-color: #ffe6ac;
  background-size: 90%; 
  margin: cover;  
}

.team-2 .info{
  padding: 1em;
}
.team-2 .info h4{
  border-bottom: solid 4px #c78c06;
  
}

.team-2 img{
width: 100%;
}
.team-2 p{
font-size: smaller;
padding-top: 1em;
}
/* Table */
th{
background-color: #ffe6ac;
}
table{
border-collapse: collapse;
width: 100%;
padding: 1em;
}
td, th{
border: 1px solid #222;
padding: 1em;
}

/* Footer */
.unsplash{
    color: inherit;
}
footer .container{
background-color: #222;
color: #c78c06;
padding: 20px;
}
footer .container p{
padding: 10px;
}

/* -----------------------
      Desktop Styles
------------------------- */

@media screen and (min-width: 760px){
  .nav-list li{
    display: inline-block;
  }
  .main-logo{
      
    background-color: no-repeat;
    
  }
} 